#submit_btm {
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 5;
}

.contents {
    width: 90%;
    position: relative;
    /* z-index: 2; */
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-size: 70%;
    color: rgb(200, 200, 200);
}

.logout_btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.logout_btn:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

header {
    position: relative;
    /* ヘッダーを固定する */
    top: 0;
    /* 上部から配置の基準位置を決める */
    left: 0;
    /* 左から配置の基準位置を決める */
    width: 100%;
    /* ヘッダーの横幅を指定する */
    height: 9em;
    /* ヘッダーの高さを指定する */
    padding: 10px !important;
    /* ヘッダーの余白を指定する(上下左右) */
    background-color: #eea631;
    /* ヘッダーの背景色を指定する */
    color: #ffffff;
    /* フォントの色を指定する */
}

.header_lnk {
    color: white;
    text-align: center;
}

.user_name {
    font-weight: bold;
    font-size: 24pt;
}

.card.horizontal {
    height: 20em;
}

.card-image {
    height: 20em;
    width: 20em;
    /* object-fit: cover; */
}

.img_card {
    height: 20em;
    width: 20em;
    object-fit: cover;
}

table,
th,
td {
    border: none;
}

.button {
	width: 160px;
	margin: 0.4em;
	padding: 1em;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	text-decoration: none;
	color: #ec407a;
	border: 1px solid #ec407a;
	background: transparent;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.button:before {
	position: absolute;
	top: -16px;
	right: -16px;
	bottom: -16px;
	left: -16px;
	content: '';
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-property: top right bottom left;
	        transition-property: top right bottom left;
	opacity: 0;
	border: 4px solid rgba(236,64,122,0.5);
}
.button:hover:before {
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	opacity: 1;
}
.button:active {
	color: #ffffff;
	background-color: #ec407a;
}
.button:active:before {
	top: -17px;
	right: -17px;
	bottom: -17px;
	left: -17px;
}
.button:hover,
.button:focus {
	color: #ec407a;
	border: 1px solid #ec407a;
}